*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSection{
        display:flex;
        justify-content: space-between;
        padding: 10px;
        background-color: rgb(1, 10, 17);
        color: white;
        padding-top: 30px;
        padding-bottom: 20px;
}

.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 0px 10px;
}
.title{
  font-size: 3rem;
}
.left{
  flex: 3;
}
.center{
  flex:4;
  
}
.search{
  flex: 2;

}
.search input{
  padding: 5px;
  width: 20rem;
  border-radius: 5px;
  margin-left: -150px;
}
.right{
  flex: 4;
  
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.bannerBox{
  margin: 10px 0px;
}
.bannerBox img{
  width: 100%;
}
.menImages{
  display: flex;
  gap: 25px;
}
.menImages .product-img{
  width: 220px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  gap: 10px;
  
}
.womensSection{
  display: flex;
  gap: 25px;
}
.womensSection .products2{
  width: 220px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;

}
.FooterSection{
  background-color: transparent;
  color: #000;
  padding: 0 ;
  margin: 0;
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.9;
  max-height: 60px;
  
  

}
